[gcp_service_account]
type = "service_account"
project_id = "ee-niteshswansat"
private_key_id = "REPLACE_ME"
private_key = "-----BEGIN PRIVATE KEY-----\nREPLACE_ME\n-----END PRIVATE KEY-----\n"
client_email = "streamlit-bot@ee-niteshswansat.iam.gserviceaccount.com"
client_id = "REPLACE_ME"
auth_uri = "https://accounts.google.com/o/oauth2/auth"
token_uri = "https://oauth2.googleapis.com/token"
auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
client_x509_cert_url = "https://www.googleapis.com/robot/v1/metadata/x509/streamlit-bot%40ee-niteshswansat.iam.gserviceaccount.com"
universe_domain = "googleapis.com"

# Optional if not in the JSON
ee_project = "ee-niteshswansat"
